body{
    font-family: 'Montserrat', sans-serif;
    margin-left: 0;  
    /* margin-left: 0px;   */
     margin-left: 0px; 
    margin-top: 100px;
    background-color:#E5E5E5;
}
h1 {
    
    font-size: 70px;
    margin:0;
    padding:0;
    /* margin-left: 90px; 
    margin-top: 100px; */
}
  
  .choclate-color{
      color:orangered;
  }
  .flexible-item{
    display: flex;
    margin-bottom: 200px;
}
  .half-part{
     width: 80%; 
    /* margin-right: 35%; */
    padding-left: 5%;
    padding-right: 0;
    padding-top: 9%;
    padding-bottom: 1%;
    /* box-shadow:10px,10px yellow; */
}
.half-part2{
    width: 50%; 
    margin-right: 5%; 
    padding-left: 15%; 
    padding-right: 0;
    padding-top: 0%;
    margin-left: 0 auto;
   /* padding-bottom: 1%; */
   /* box-shadow:10px,10px yellow; */
}
.link-button{
    text-decoration: none;
    background: linear-gradient(orange,red);
    padding: 15px 50px;
    border-radius: 25px;
    color: white; 
    font-weight: 400;;

}
.about-me{
    background-image:url(images/shapes/pex.jpg);
    background-repeat: no-repeat; 
    background-position: 0;
    /* padding-left: auto; */
    margin-left: 0 auto; ;

    /* opacity: 0.8; */
}

.my-recipies{
    width: 700px;
    text-align: center;
    align-items: center;
    }
    .my-recipies h2{
        padding-bottom: 30px;
        font-size: 36px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700 ;
        color: #676767;
    }
    .my-recipies p{
    
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400 ;
        color: #252525;
        line-height: 136%;
    }
    .orun{
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* width:100%; */

    }



.container{
    padding: 30px;
    align-items: flex-start;
    display: flex;
    
    
    width: 1239px;
   
    border-radius: 90%;
    
    /* height: 528px; */
} 

 .recipie-iteam {
    

    
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* background-repeat: no-repeat;  */
    width: 377px;
    height: 528px;
    /* height: 50%; */
    margin-left: 5%;
    margin-right: 5%; 
    text-align: center;
    padding: 50px;
    text-align: justify;
    border-radius: 2%;


     

 }
 .photo-size{
     width: 100%;
     padding-bottom: 0px ;
     padding-left: 0%;
     border-radius: 10%;
     margin-bottom: 40px;
 } 
 .social{
     margin: 150px;
     display: flex;
     width: 80%;
     border-radius: 10px;
     box-shadow:  0px 0px 40px #888888;;
     padding-left: 2%;
     padding-right: 2%;
     justify-content: space-between;
     margin-bottom: 50px;
 } 
  .social h2{
     color:black;
     
     line-height: 64px;
     font-size: 45px;
     font-family: Montserrat;
     font-weight: 100%;
     font-style: bold;

 }
 .social div{
    padding: 25px 55px; 
    padding-left: 5%;
}
 
     
    
 
 .social p{
     margin: auto;
    color: #18191F;
    line-height: 76px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400 ;
    display: flex;
    /* margin-left: 5%; */
}
footer{
    background-color: #0B0D17;
    height: 100px;
    padding: 90px 0;
}
footer p{
    color: #FFFFFF;
    line-height: 26px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400 ;
    text-align: center;
}
footer h1{
    color: #5B5B5B;
    font-size: 30px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800 ;
    text-align: center;
}